language: ruby

rvm:
  - 2.5
  - 2.6
  - 2.7
  - ruby-head

gemfile:
  - Gemfile

branches:
  only:
    - master
    - gocardless

before_install: gem update bundler
script:
  - bundle exec rake test
  - bundle exec rubocop

sudo: false

matrix:
  allow_failures:
    - rvm: ruby-head
